body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator-body {
  display: block;
  position: relative;
  z-index: 0;
  background-color: black;
  border-radius: 25px;
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.screen {
  position: relative;
  top: 40px;
  z-index: 1;
  background-color: rgb(214, 210, 210);
  border-radius: 10px;
  width: 360px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(37, 155, 202);
}

.screen-display {
  /*border-style: solid;
  border-color: aqua;*/
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 10px;
  z-index: 2;
  width: fit-content;
  font-size: 36px;
}

.operation-sign {
  position: absolute;
  left: 5px;
  margin-top: 0;
  z-index: 2;
  font-size: 30px;
  color: rgb(46, 44, 44);
}

.button-board {
  display: block;
  position: relative;
  z-index: 1;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  height: 320px;
  width: 80%;
}

.button {
  position: relative;
  z-index: 1;
  top: 100px;
  left: 70px;
  margin: 3px;
  height: 60px;
  width: 60px;
  border-radius: 9px;
  font-size: 30px;
}

.button:hover {
  background-color: rgb(131, 128, 128);
}

.clrBtn {
  background-color: red;
  font-size: 25px;
}

.calculateBtn {
  position: relative;
  z-index: 1;
  width: 80px;
}